/* font faces */
@font-face {
    font-family: 'flame-regular';
    src: url('../Fonts/flameregular-webfont.woff2');
}
@font-face {
    font-family: 'flame-bold';
    src: url('../Fonts/flamebold-webfont.woff2');
}
@font-face {
    font-family: 'flame-sans';
    src: url('../Fonts/flamesans-webfont.woff2');
}

:root {
    font-family: flame-sans;
    --rod: #c20;
    --beige: #f5ebdc;
    --sort: #502314;
    --gron: #198737;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: flame-bold;
    font-size: 96px;
    color: var(--beige);
}

h2 {
    text-align: center;
    font-family: flame-bold;
    font-size: 64px;
    color: var(--sort);
}

h3 {
    text-align: center;
    font-family: flame-regular;
    font-size: 45px;
    color: var(--beige);
}

.bkhero {
    background-color: var(--gron);
    text-align: center;
    padding: 35px 0 65px 0;
}

.bkhero img{
    width: 950px;
    height: auto;
    margin: -30px auto 0 auto;
    cursor: pointer;
}

#point {
    font-family: flame-bold;
    font-size: 35px;
    color: var(--beige);
}

/* Point Shoppen */
.pointshoppen {
    padding: 65px 100px;
}

.pointshopmenu {
    padding-top: 80px;
    display: grid;
    grid-template-areas: 
        'shopmenu kurv'
    ;
    gap: 100px;
}

.shop {
    grid-area: shopmenu;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    width: 250px;
}

.shopmenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shopmenu p {
    font-family: flame-regular;
    font-size: 14px;
}

.shopmenu a {
    width: 100%;
    height: auto;
    padding: 10px 25px;
    background-color: var(--rod);
    border-radius: 6px;
    border: 2px solid transparent;
    border-color: var(--rod);
    font-family: flame-regular;
    color: var(--beige);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.shopmenu a:hover {
    border: 2px solid;
    background-color: var(--beige);
    color: var(--rod);
}

.kurv {
    grid-area: kurv;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.kurv div {
    width: 250px;
    height: 250px;
    background-color: var(--beige);
}