/* font faces */
@font-face {
  font-family: "flame-regular";
  src: url("../Fonts/flameregular-webfont.woff2");
}
@font-face {
  font-family: "flame-bold";
  src: url("../Fonts/flamebold-webfont.woff2");
}
@font-face {
  font-family: "flame-sans";
  src: url("../Fonts/flamesans-webfont.woff2");
}

:root {
  font-family: flame-sans;
  --rod: #c20;
  --beige: #f5ebdc;
  --sort: #502314;
  --gron: #198737;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: flame-bold;
  font-size: 96px;
  color: var(--beige);
}

h2 {
  text-align: center;
  font-family: flame-bold;
  font-size: 64px;
  color: var(--sort);
}

h3 {
  text-align: center;
  font-family: flame-regular;
  font-size: 45px;
  color: var(--beige);
}

.bkhero {
  background-color: var(--gron);
  text-align: center;
  padding: 35px 0 65px 0;
}

.bkhero img {
  width: 950px;
  height: auto;
  margin: -30px auto 0 auto;
  cursor: pointer;
}

#point {
  font-family: flame-bold;
  font-size: 35px;
  color: var(--beige);
}

/* Point Shoppen */
.pointshoppen {
  padding: 65px 100px;
}

.pointshopmenu {
  padding-top: 80px;
  display: grid;
  grid-template-areas: "shopmenu kurv";
  gap: 100px;
  justify-content: left;
}

.shop {
  grid-area: shopmenu;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  width: 250px;
}

.shopmenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shopmenu p {
  font-family: flame-regular;
  font-size: 14px;
}

.shopmenu a {
  width: 100%;
  height: auto;
  padding: 10px 25px;
  background-color: var(--rod);
  border-radius: 6px;
  border: 2px solid transparent;
  border-color: var(--rod);
  font-family: flame-regular;
  color: var(--beige);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.shopmenu a:hover {
  border: 2px solid;
  background-color: var(--beige);
  color: var(--rod);
}

.pointknap {
  width: 100%;
  height: auto;
  padding: 10px 25px;
  background-color: var(--rod);
  border-radius: 6px;
  border: 2px solid transparent;
  border-color: var(--rod);
  font-family: flame-regular;
  color: var(--beige);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.pointknap:hover {
  border: 2px solid;
  background-color: var(--beige);
  color: var(--rod);
}

.kurv {
  grid-area: kurv;
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: left;
}

/* Koupon CSS */
.koupon {
  width: 250px;
  height: 400px;
  background-color: var(--beige);
  padding: 30px 15px 10px 15px;
  display: none;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  justify-content: space-evenly;
}

.koupon.active {
  width: 250px;
  height: 400px;
  background-color: var(--beige);
  padding: 30px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  justify-content: space-evenly;
}

.billederamme {
  width: 100%;
  height: 150px;
}

.billederamme img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#koup-navn {
  text-align: center;
  font-family: flame-bold;
  font-size: 24px;
  color: var(--sort);
}

#koup-pris {
  text-align: center;
  font-size: 40px;
  font-family: flame-bold;
  color: var(--gron);
}

/* Valg af vare menu */
.valgbaggrund {
  display: none;
}

.valgbaggrund.active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.valg-vare {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: auto;
  background-color: var(--beige);
  z-index: 1000;
  margin: auto;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#oversigt {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.valgbtn {
  background-color: var(--beige);
  border: 3px solid var(--sort);
  color: var(--sort);
  border-radius: 6px;
  padding: 5px 45px;
  width: 100%;
  cursor: pointer;
  font-family: flame-regular;
  transition: 0.3s;
}

.valgbtn:hover {
  background-color: var(--rod);
  border-color: var(--rod);
  color: var(--beige);
}

.valgbtn.active {
  background-color: var(--gron);
  border-color: var(--gron);
  color: var(--beige);
}

/* Header ----------------------------------------------------------------------------------------------------------- */

header {
  width: auto;
  height: auto;
  padding: 10px 250px;
}

.headermenu {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.headermenu ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.headermenu ul li {
  display: flex;
  justify-content: space-evenly;
  padding: 10px, 0;
  transition: 0.3s;
}

.headermenu ul a {
  text-decoration: none;
  color: var(--sort);
  font-family: flame-sans;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  transition: 0.3s;
}
.headermenu ul a:hover {
  color: var(--rod);
}

.bklogo {
  width: 50px;
}

.bklogo:hover {
  transform: scale(1.3);
}

.headermenu div {
  width: 60px;
  height: auto;
}

.headermenu div > img {
  width: 100%;
  height: auto;
}

.button {
  height: fit-content;
  padding: 10px 20px;
  background-color: white;
  border-style: none;
  border: 2px solid transparent;
  background-color: var(--rod);
  border-radius: 6px;
  color: var(--beige);
  font-family: flame-regular;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  border-color: var(--rod);
  background-color: var(--beige);
  color: var(--rod);
}

/* footer menu */
footer {
  border-top: 2px solid;
  border-color: var(--rod);
  padding: 50px 150px;
}

nav-footer {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav-footer ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav-footer ul li {
  display: flex;
  justify-content: space-evenly;
  padding: 10px, 0;
  transition: 0.3s;
}

nav-footer ul a {
  text-decoration: none;
  color: var(--sort);
  font-family: flame-sans;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  transition: 0.3s;
}

nav-footer ul a:hover {
  color: var(--rod);
}

footer-politik {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer-politik ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

footer-politik ul li {
  display: flex;
  justify-content: space-evenly;
  padding: 10px, 0;
  transition: 0.3s;
}

footer-politik ul a {
  text-decoration: none;
  color: #502314a6;
  font-family: flame-sans;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  transition: 0.3s;
  margin-top: 25px;
}

footer-politik ul a:hover {
  color: var(--rod);
}
