/* font faces */
@font-face {
    font-family: 'flame-regular';
    src: url('../Fonts/flameregular-webfont.woff2');
}

@font-face {
    font-family: 'flame-bold';
    src: url('../Fonts/flamebold-webfont.woff2');
}

@font-face {
    font-family: 'flame-sans';
    src: url('../Fonts/flamesans-webfont.woff2');
}

:root {
    font-family: flame-sans;
    --rod: #c20;
    --beige: #f5ebdc;
    --sort: #502314;
    --gron: #198737;
}

header {
    width: auto;
    height: auto;
    padding: 10px 250px;
}

.headermenu {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.headermenu ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.headermenu ul li {
    display: flex;
    justify-content: space-evenly;
    padding: 10px, 0;
    transition: 0.3s;
}

.headermenu ul a {
    text-decoration: none;
    color: var(--sort);
    font-family: flame-sans;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    transition: 0.3s;
}

.headermenu ul a:hover {
    color: var(--rod);
}

.bklogo {
    width: 50px;
}

.bklogo:hover {
    transform: scale(1.3);
}

.headermenu div {
    width: 60px;
    height: auto;
}

.headermenu div>img {
    width: 100%;
    height: auto;
}

.button {
    height: fit-content;
    padding: 10px 20px;
    background-color: white;
    border-style: none;
    border: 2px solid transparent;
    background-color: var(--rod);
    border-radius: 6px;
    color: var(--beige);
    font-family: flame-regular;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    border-color: var(--rod);
    background-color: var(--beige);
    color: var(--rod);
}


/* featured section */
h2 {
    font-family: flame-bold;
    font-size: 55px;
    color: var(--sort);
    text-align: center;
}

.featured {
    padding: 40px 0;
}

.favoritsec {
    display: flex;
    padding: 0px 150px;
    gap: 25px;
    flex-flow: row nowrap;
}

.favoritkort {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    border-radius: 25px;
    align-items: center;
    padding: 60px 10px;
}

.favoritkort img {
    width: 250px;
    height: auto;
}

.favoritkort h3 {
    margin-top: 60px;
    font-family: flame-regular;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

/* footer menu */
footer {
    border-top: 2px solid;
    border-color: var(--rod);
    padding: 50px 150px;
}

nav-footer {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav-footer ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav-footer ul li {
    display: flex;
    justify-content: space-evenly;
    padding: 10px, 0;
    transition: 0.3s;
}

nav-footer ul a {
    text-decoration: none;
    color: var(--sort);
    font-family: flame-sans;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    transition: 0.3s;
}

nav-footer ul a:hover {
    color: var(--rod);
}

footer-politik {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer-politik ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

footer-politik ul li {
    display: flex;
    justify-content: space-evenly;
    padding: 10px, 0;
    transition: 0.3s;
}

footer-politik ul a {
    text-decoration: none;
    color: #502314a6;
    font-family: flame-sans;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    transition: 0.3s;
}

footer-politik ul a:hover {
    color: var(--rod);
}


/*kalorie beregner -----------------------------------------------------------------------------------------------*/

#modalbutton:hover {
    background-color: #ffc800;
    /* Mørkere grøn baggrundsfarve når musen er over knappen */
    transform: scale(1.05);
    /* Lidt forstørrelse af knappen når musen er over */
}

/* Active (klik) effekt */
#modalbutton:active {
    background-color: #ffc800;
    /* Endnu mørkere grøn, når knappen klikkes */
    transform: scale(1);
    /* Normal størrelse når knappen klikkes */
}

/* Modal container */
.modal {
    display: none;
    /* Skjult som standard */
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #502314;
}

/* Modal indhold */
.modal-content {
    background-color: #ffc800;
    margin: 5% auto;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 600px;
    /* Juster størrelsen på modalboksen */
    border-radius: 20px;
}

#sovsType {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    border: none;
    box-sizing: border-box;
    padding: 2px;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 7px;
}

/* Close button */
.close {
    color: #e02929;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: floralwhite;
    text-decoration: none;
    cursor: pointer;
}

#burgerContainer label {
    font-size: 30px;
    font-weight: 800;
}

/* Justering af inputfelter og knappen */
#burgerContainer label,
#burgerContainer input,
#burgerContainer button {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #502314;
    font-size: 20px;
    border: none;
    border-radius: 7px;
}

#burgerContainer input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#burgerContainer button {
    padding: 10px;
    background-color: #e02929;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #f5ebdc;
}

#burgerContainer button:hover {
    background-color: #502314;
    transform: scale(1.05);
}

/* Active (klik) effekt */
#burgerContainer button:active {
    background-color: #502314;
    transform: scale(1);
}

#result {
    font-size: 25px;
    font-weight: 900;
    color: #502314;
    text-align: right;
}

#resultdiv {
    margin-top: -100px;
}

.modal-content h2 {
    font-size: 20px;
    /* Mindre skriftstørrelse for overskriften */
    font-weight: 700;
    /* Tilpas vægten, hvis nødvendigt */
    margin-bottom: 15px;
    /* Tilføj en passende margin under overskriften */
}

.modal-content {
    background-color: #ffc800;
    margin: 10% auto;
    /* Øger margin for at give mere plads omkring modalboksen */
    padding: 15px;
    /* Mindre padding for at gøre indholdet mere kompakt */
    border: none;
    width: 70%;
    /* Mindre bredde på modalboksen */
    max-width: 400px;
    /* Gør den mindre med en max-bredde */
    border-radius: 20px;
}

.modal {
    display: none;
    /* Skjult som standard */
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #502314;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent sort baggrund */
    backdrop-filter: blur(5px);
    /* Tilføj baggrundssløring */
}

/*kalorie beregner -----------------------------------------------------------------------------------------------*/


/*slideshow -----------------------------------------------------------------------------------------------*/


/* Centrering og størrelse på banner */
.banner-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100% !important;
    height: 550px;
}

.image-container {
    margin-left: 10%;
    /* Juster denne værdi for at flytte billedet ned */
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
}


/* Baggrundsfarver for de forskellige slides */
.banner-container-kaffe {
    background-color: #ffe201;
    position: relative;
    height: 100%;
}

.kaffe-image {
    margin-top: 180px;
}

.banner-container-ny-burger {
    background-color: #ff7201;
    position: relative;
    height: 100%;
}

.ny-burger-image,
.plant-image,
.oreo-image {
    margin-top: 150px;
}

.banner-container-plant {
    background-color: #198737;
    position: relative;
    height: 100%;
}


.banner-container-oreo {
    background-color: #e4000a;
    position: relative;
    height: 100%;
}

/* Skjul slides som standard */
.slide {
    display: none;
}

/* Visning af aktivt slide */
.active {
    display: block;
}


/* Styling af tekst over billeder */
.banner-text {
    position: absolute;
    color: #502314;
    font-size: 80px;
    padding: 10px 20px;
    font-family: flame-bold;
    z-index: 0;
    /* Sørger for, at teksten vises bag billedet */
}

.banner-text {
    top: 110px;
    left: 130px;
}

.banner-text-kaffe {
    top: 10%;
    left: 130px;
    position: absolute;
    color: #502314;
    font-size: 60px;
    padding: 10px 20px;
    font-family: flame-bold;
    z-index: 0;
}

.banner-text-oreo {
    top: 20%;
    left: 130px;
    position: absolute;
    color: white;
    font-size: 80px;
    padding: 10px 20px;
    font-family: flame-bold;
    z-index: 0;
}

.text {
    font-family: flame-regular;
    color: #502314;
    font-size: 24px;
    margin-top: 250px;
    padding-left: 150px;
    padding-right: 50px;
}

.text-plant,
.text-oreo {
    font-family: flame-regular;
    color: white;
    font-size: 24px;
    margin-top: 280px;
    padding-left: 150px;
    padding-right: 50px;
}



/*slideshow -----------------------------------------------------------------------------------------------*/