/* font faces */
@font-face {
    font-family: 'flame-regular';
    src: url('../Fonts/flameregular-webfont.woff2');
}
@font-face {
    font-family: 'flame-bold';
    src: url('../Fonts/flamebold-webfont.woff2');
}
@font-face {
    font-family: 'flame-sans';
    src: url('../Fonts/flamesans-webfont.woff2');
}

:root {
    font-family: flame-sans;
    --rod: #c20;
    --beige: #f5ebdc;
    --sort: #502314;
    --gron: #198737;
}

header {
    width: auto;
    height: auto;
    padding: 10px 250px;
}

.headermenu {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.headermenu ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.headermenu ul li {
    display: flex;
    justify-content: space-evenly;
    padding: 10px, 0;
    transition: 0.3s;
}

.headermenu ul a {
    text-decoration: none;
    color: var(--sort);
    font-family: flame-sans;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    transition: 0.3s;
}
.headermenu ul a:hover {
    color: var(--rod);
}

.headermenu div {
    width: 60px;
    height: auto;
}

.headermenu div>img {
    width: 100%;
    height: auto;
}

.button {
    height: fit-content;
    padding: 10px 20px;
    background-color: white;
    border-style: none;
    border: 2px solid transparent;
    background-color: var(--rod);
    border-radius: 6px;
    color: var(--beige);
    font-family: flame-regular;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    border-color: var(--rod);
    background-color: var(--beige);
    color: var(--rod);
}

/* Hero section */
.hero {
    width: 100%;
    height: 550px;
    background-color: var(--gron);

}


/* featured section */
h2 {
    font-family: flame-bold;
    font-size: 55px;
    color: var(--sort);
    text-align: center;
}

.featured {
    padding: 40px 0;
}

.favoritsec {
    display: flex;
    padding: 0px 150px;
    gap: 25px;
    flex-flow: row nowrap;
}

.favoritkort {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    border-radius: 25px;
    align-items: center;
    padding: 60px 10px;
}

.favoritkort img {
    width: 250px;
    height: auto;
}

.favoritkort h3 {
    margin-top: 60px;
    font-family: flame-regular;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

/* footer menu */
footer {
    border-top: 2px solid;
    border-color: var(--rod);
    padding: 50px 150px;
}

nav-footer {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav-footer ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav-footer ul li {
    display: flex;
    justify-content: space-evenly;
    padding: 10px, 0;
    transition: 0.3s;
}

nav-footer ul a {
    text-decoration: none;
    color: var(--sort);
    font-family: flame-sans;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    transition: 0.3s;
}

nav-footer ul a:hover {
    color: var(--rod);
}

footer-politik {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer-politik ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

footer-politik ul li {
    display: flex;
    justify-content: space-evenly;
    padding: 10px, 0;
    transition: 0.3s;
}

footer-politik ul a {
    text-decoration: none;
    color: #502314a6;
    font-family: flame-sans;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    transition: 0.3s;
}

footer-politik ul a:hover {
    color: var(--rod);
}

