@font-face {
    font-family: 'flame-bold';
    src: url('Fonts/flamebold-webfont.woff2');
}

@font-face {
    font-family: 'flame-regular';
    src: url('Fonts/flameregular-webfont.woff2');
}

/* Centrering og størrelse på banner */
.banner-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100% !important;
    height: 550px;
}

.image-container {
    margin-left: 10%;
    /* Juster denne værdi for at flytte billedet ned */
    position: relative;
    z-index: 10;
}



/* Baggrundsfarver for de forskellige slides */
.banner-container-kaffe {
    background-color: #ffe201;
    position: relative;
    height: 100%;
}

.kaffe-image {
    margin-top: 180px;
}

.banner-container-ny-burger {
    background-color: #ff7201;
    position: relative;
    height: 100%;
}

.ny-burger-image,
.plant-image,
.oreo-image {
    margin-top: 150px;
}

.banner-container-plant {
    background-color: #198737;
    position: relative;
    height: 100%;
}


.banner-container-oreo {
    background-color: #e4000a;
    position: relative;
    height: 100%;
}

/* Skjul slides som standard */
.slide {
    display: none;
}

/* Visning af aktivt slide */
.active {
    display: block;
}

/* Styling af tekst over billeder */
.banner-text {
    position: absolute;
    color: #502314;
    font-size: 80px;
    padding: 10px 20px;
    font-family: flame-bold;
    z-index: 0;
    /* Sørger for, at teksten vises bag billedet */
}

.banner-text {
    top: 110px;
    left: 130px;
}

.banner-text-kaffe {
    top: 10%;
    left: 130px;
    position: absolute;
    color: #502314;
    font-size: 60px;
    padding: 10px 20px;
    font-family: flame-bold;
    z-index: 0;
}

.banner-text-oreo {
    top: 20%;
    left: 130px;
    position: absolute;
    color: white;
    font-size: 80px;
    padding: 10px 20px;
    font-family: flame-bold;
    z-index: 0;
}